@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
  font-family: "Questrial", sans-serif;
}

/*header*/
/*---------zona navegable--------------*/
header img {
  width: 100px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.mi-color {
  background-color: #BF9911;
}

.menu {
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 2.5rem;
}

/*banner---------------------------*/
.banner {
  background-image: url(../medios/fondo2.png);
  height: 250px;
  background-size: cover;
  font-size: 3rem;
}
.banner h1 {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 9rem;
  padding: 50px;
  color: black;
  text-shadow: 5px 1px 6px rgba(0, 0, 0, 0.77);
}
.banner p {
  text-align: center;
  font-size: 3rem;
}
.banner .slogan {
  color: white;
  text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.9);
}

/*Main.......................*/
main {
  background-image: url(../medios/fondo5.jpg);
  padding-top: 10px;
  padding-bottom: 10px;
}
main h3 {
  text-align: center;
  font-size: 3rem;
}
main img {
  width: 40%;
}
main p {
  font-size: 2.5rem;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-areas: "titulo-1 titulo-1 titulo-1" "foto-1 texto-1 foto-2" "foto-3 foto-4 texto-2" "texto-4 foto-5 foto-6" "titulo-2 foto-7 texto-3";
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: 200px 400px 400px 400px 500px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 3px;
  font-size: 2.5rem;
  text-transform: none;
}
.galeria p {
  text-align: center;
}
.galeria .titulo-1 {
  grid-area: titulo-1;
  text-align: center;
}
.galeria .foto-1 {
  grid-area: foto-1;
}
.galeria .texto-1 {
  grid-area: texto-1;
}
.galeria .foto-2 {
  grid-area: foto-2;
}
.galeria .foto-3 {
  grid-area: foto-3;
}
.galeria .foto-4 {
  grid-area: foto-4;
}
.galeria .texto-2 {
  grid-area: texto-2;
}
.galeria .texto-4 {
  grid-area: texto-4;
}
.galeria .foto-5 {
  grid-area: foto-5;
}
.galeria .foto-6 {
  grid-area: foto-6;
}
.galeria .titulo-2 {
  grid-area: titulo-2;
}
.galeria .foto-7 {
  grid-area: foto-7;
}
.galeria .texto-3 {
  grid-area: texto-3;
}
.galeria h2 {
  font-size: 4rem;
  padding-top: 60px;
  color: black;
  text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}
.galeria img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 50px;
}
.galeria p {
  text-transform: none;
}

/*FOOTER.........................*/
footer {
  background-color: #BF9911;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer img {
  width: 30px;
}
footer h3 {
  font-size: 2.5rem;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer iframe {
  width: 40%;
  height: 50%;
}

.redes p {
  font-size: 2rem;
}

.diseño {
  text-align: end;
}
.diseño p {
  font-size: 1.75;
}

/*Quienes Somos............................*/
.titulohistoria {
  width: 500px;
  padding: 50px;
  font-size: 3.5rem;
  margin-left: 500px;
  color: black;
}

p {
  color: black;
}

.papajoven {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
.papajoven img {
  border-radius: 10px;
}

.parte2 {
  padding-bottom: 20px;
}

/*PRODUCTOS......................*/
.presentacion h1 {
  text-align: center;
  font-size: 5rem;
  text-decoration: underline;
  margin: 10px 10px;
  padding: 30px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.frascos, .balde, .propoleo, .liquido {
  border-radius: 10px 10px 10px 10px;
  border: 9px solid #FFF7D4;
  margin: 0% auto;
}
.frascos h2, .balde h2, .propoleo h2, .liquido h2 {
  font-size: 3rem;
  text-align: center;
}

/*SERVICIOS.....................*/
.serviciotitulo h1 {
  color: black;
  text-align: center;
  font-size: 5rem;
  text-decoration: underline;
  margin: 10px 10px;
  padding: 30px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.servtext {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-bottom: 20px;
}
.servtext .serv1, .servtext .serv3, .servtext .serv2 {
  border-radius: 5px 5px 5px 5px;
  border: 5px solid #FFF7D4;
}
.servtext .serv1 h2, .servtext .serv3 h2, .servtext .serv2 h2 {
  text-align: center;
  color: black;
  font-size: 2.5rem;
}
.servtext .serv3 .ref-etiq {
  padding-top: 30px;
}

.carrusel {
  margin-left: 350px;
}

/*PRESUPUESTO.....................*/
.titulopresu {
  display: flex;
  text-align: center;
  align-items: center;
  color: black;
  text-decoration: underline;
  margin: 10px 10px;
  padding: 30px;
  justify-content: center;
}
.titulopresu h1 {
  font-size: 50px;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  width: 500px;
  margin-left: 500px;
}
form h2 {
  color: rgb(7, 7, 7);
  font-size: 35px;
}
form .contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
}
form .contacto label {
  color: #040403;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
}
form .contacto input, form .contacto textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  outline: none;
}
form .contacto .btn {
  font-size: 16px;
  color: black;
  border: 5px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 20px;
  width: 100px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  /*Header*/
  .menu {
    font-size: 10px;
  }
  .banner h1 {
    font-size: 25px;
  }
  .banner p {
    font-size: 1.75rem;
  }
  /*main*/
  .galeria {
    grid-template-areas: "titulo-1" "foto-1" "texto-1" "foto-2" "foto-4" "texto-2" "foto-5" "texto-4" "foto-6" "titulo-2" "foto-7" "texto-3";
    grid-template-columns: 95%;
    grid-template-rows: 200px repeat(11, 300px);
  }
  .foto-3 {
    display: none;
  }
  /*footer*/
  footer iframe {
    width: 90%;
    height: 50%;
  }
  /*presupuesto*/
  .titulopresu h1 {
    font-size: 30px;
  }
  form {
    width: 100%;
    margin-left: 0%;
  }
  /*servicios*/
  .serviciotitulo h1 {
    font-size: 30px;
  }
  .servtext {
    margin-left: 1px;
  }
  .carrusel {
    margin-left: 100px;
  }
  /*quienes somos*/
  .titulohistoria {
    width: 100%;
    margin-left: 5px;
    font-size: 40px;
  }
}

/*# sourceMappingURL=design.css.map */
