 /*Quienes Somos............................*/
 .titulohistoria{
    width: 500px;
    padding: 50px;
    font-size: 4rem;
    margin-left: 500px;
  
  }
.papajoven{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
        border-radius: 10px;
        }
  } 
.parte2{
    padding-bottom: 20px;
  }