  /*SERVICIOS.....................*/
  .serviciotitulo h1{
    color:black ;
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
    margin: 10px 10px;
    padding: 30px;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
    } 
.servtext{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 20px;
    .serv1{
      border-radius: 5px 5px 5px 5px;
      border: 5px solid #FFF7D4;
      h2{
        text-align: center;
        color:black;
        font-size: 2.5rem;
      }
    }
    .serv2{
      @extend .serv1;
    }
    .serv3{
      @extend .serv1;
      .ref-etiq{
        padding-top: 30px;
       }
    }
   }
.carrusel{
    margin-left: 350px;
    }