@media only screen and (max-width: 500px) {
    /*Header*/
    
    .menu{
     font-size:10px;
    }
    .banner h1{
     font-size:25px;
    }
    .banner p{
   font-size: 1.75rem;
    }
   
   /*main*/
   .galeria{
     grid-template-areas: 
     "titulo-1"
     "foto-1"
     "texto-1"
     "foto-2"
     "foto-4"
     "texto-2"
     "foto-5"
     "texto-4"
     "foto-6"
     "titulo-2"
     "foto-7"
     "texto-3";
     grid-template-columns: 95%;
     grid-template-rows: 200px repeat(11,300px);
   }
   
   .foto-3{
     display: none;
   }
   
   /*footer*/
   footer iframe{
     width: 90%;
     height: 50%;
   }
   /*presupuesto*/
   
   .titulopresu h1{
     font-size: 30px;
   }
   form{
   width: 100%;
   margin-left: 0%;
     }
   
   /*servicios*/
   
   .serviciotitulo h1{
     font-size:30px ;
   }
   .servtext{
     margin-left: 1px;
   }
   .carrusel{
     margin-left: 100px;
   }
   /*quienes somos*/
   
   .titulohistoria{
     width: 100%;
     margin-left: 5px;
     font-size: 40px;
   }
   }